event_types/NFCBookScan.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="NFCBookScan.xsd" targetNamespace="NFCBookScan.xsd" 
           elementFormDefault="qualified"> 
    <xs:element name="NFCBookScan"> 
        <xs:complexType> 
            <xs:sequence> 
                <xs:element name="NFCID" type="xs:string"/> 
                <xs:element name="ISBN" type="xs:string"/> 
            </xs:sequence> 
        </xs:complexType> 
    </xs:element> 
</xs:schema>