event_types/NFCUserScan.xsd

<?xml version="1.0" encoding="utf-8"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="NFCUserScan.xsd" targetNamespace="NFCUserScan.xsd" 
           elementFormDefault="qualified"> 
    <xs:element name="NFCUserScan"> 
        <xs:complexType> 
            <xs:sequence> 
                <xs:element name="NFCID" type="xs:string"/> 
                <xs:element name="UserId" type="xs:string"/> 
                <xs:element name="Name" type="xs:string"/> 
                <xs:element name="Mail" type="xs:string"/> 
            </xs:sequence> 
        </xs:complexType> 
    </xs:element> 
</xs:schema>